/* Common Classes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --primary-color: #03a6a6;
  --secondary-color: black;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1490px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
  color: black;
}
.active > a {
  color: var(--primary-color);
}
.primary-btn {
  text-transform: capitalize;
  font-weight: 400;
  padding: 23px 27px 22px;
  border-radius: 53px;
  border: 1px solid black;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
.primary-btn::after {
  content: "";
  background-color: var(--primary-color);
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 1s linear;
}
.primary-btn > span {
  position: relative;
  z-index: 2;
  transition: 1s linear;
}
.primary-btn:hover > span{
    color: white;
}
.primary-btn:hover::after {
  width: 100%;
}

/*===============
Navbar
================ */

.navbar-sec {
  padding: 25px 0 20px;
}
nav,
.navbar-collapsed,
.nav-links,
.nav-btns {
  display: flex;
  align-items: center;
}
.navbar-collapsed {
  margin-left: auto;
  font-size: 15px;
}
.nav-logo {
  width: 218px;
}
.nav-link {
  margin-right: 36px;
}
.nav-link > a {
  transition: 0.5s linear;
}
.nav-link > a:hover {
  color: var(--primary-color);
}
.sm-nav-btns{
    display: none;
}
.navbtn-1 {
  display: flex;
  align-items: center;
  margin-right: 36px;
}
.nav-icon {
  width: 20.95px;
  height: 20px;
  margin-right: 9.05px;
}
.nav-icon + span {
  font-weight: 600;
}
.navbar-sec .primary-btn {
  font-weight: 500;
  border: 2px solid black;
}

/* =================
Navbar Responsive
==================== */

@media screen and (max-width: 1200px) {
  .navbar-collapsed{
    position: fixed;
    right: -100%;
    top: 0;
    transition: 1s linear;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 60%;
    backdrop-filter: blur(50px);
    z-index: 2;
  }
  .menu-bar > span{
    display: block;
    width: 30px;
    height: 2px;
    background: var(--secondary-color);
  }
  .menu-bar > span:nth-child(2){
    margin: 5px 0;
  }
  #menu:checked ~ .navbar-collapsed{
   right: 0;
  }
  .navbar-collapsed, .nav-links{
    flex-direction: column;
  }
  .nav-link{
    margin-right: 0;
    margin-bottom: 20px;
  }
  #menu:checked ~ .menu-bar > span:nth-child(1){
    display: none;
    transition: 0.5s linear;
  }
  #menu:checked ~ .menu-bar > span:nth-child(2){
    transform: rotate(-45deg);
    transition: 0.5s linear;
  }
  #menu:checked ~ .menu-bar > span:nth-child(3){
   transform: rotate(45deg);
   transition: 0.5s linear;
  }
  .menu-bar{
    margin-left: 20px;
    position: relative;
    z-index: 99;
  }
  .nav-btns{
    display: none;
  }
  .sm-nav-btns{
    display: flex !important;
    margin-left: auto;
  }
}
